    /* common selector  */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    display: inline-block;
}
.d-flex{
    display: flex;
}
.work-font{
    font-family: "Work Sans", sans-serif;
}
/* main code start  */
/* nav start  */
.top-navbar{
    width: 80%;
    margin: 0px auto;
    height: 80px;
}
.nav-logo{
    height: 100%;
    flex: 1 1 100%;
    align-items: center;
}
.nav-logo h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
}
.nav-logo h1 span{
    color: #6c55f9;
}
.nav-content{
    flex: 1 1 300%;
    justify-content: flex-end;
    align-items: center;
}
.nav-content a{
    padding: 10px 20px;
    margin-right: 5px;
    color: #645f88ad;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    transition: .5s;
}
.nav-content a:hover{
    color: rgba(45, 40, 40, 0.88);
}
.home{
    color: #6c55f9 !important;
}
.free-button{
    background-color: #6c55f9;
    color: white !important;
    border-radius: 5px;
    font-size: 14px !important;
}
.free-button:hover{
    background-color: #645F88;
}
/* nav end  */
/* top banner start  */
.top-banner{
    width: 80%;
    height: 500px;
    background-color: #F6F5FC;
    border-radius: 20px;
    margin: 0px auto;
    border: 1px solid red;
    justify-content: space-around;
}
.banner-content{
    width: 40%;
    margin-top: 100px;
}
.banner-content h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #645f88;
}
.banner-content p{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    color: #8e8aad;
}
.banner-content a{
    padding: 10px 30px;
    background-color: #6c55f9;
    border-radius: 28px;
}
.banner-content a span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin-right: 5px;
}
.banner-content a:hover{
    background-color: #645F88;
}
.banner-image{
    width: 40%;
    margin-top: 50px;
}
/* top banner end  */